.customer_content_container {
    padding: 2rem;
    padding-bottom: 0px;

    .page_title {
        height: 50px;
    }
    .page_container {
        border-radius: 5px;
        background: #fff;
        min-height: 100vh;
        padding: 1rem;
    }

    .account_container {
        .page_container {
            .customer_avatar {
                position: relative;
            }
            .customer_avatar_upload_btn {
                bottom: 0;
                right: 0;
                position: absolute;
                button {
                    border-radius: 50%;
                }
            }
            #account_edit_form{
                .ant-form-item-label{
                    padding-left: 10px;
                    text-align: left;
                }

            }
        }
    }
}

.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: #E1ECF4;
}
