@import "~antd/dist/antd.css";

#sidebar_backend .logo {
    padding: 16px;
    color: #d81c80;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 1px solid #aaa;
    transition: all 0.2s;
}
