@import "~antd/dist/antd.css";

// #sidebar_backend .logo {
//     padding: 16px;
//     color: #d81c80;
//     text-align: center;
//     font-size: 1.5rem;
//     font-weight: 600;
//     border-bottom: 1px solid #aaa;
//     transition: all 0.2s;
// }

.main_header_container {
    background: #0973ec;
}
.header_container {
    width: 1270px;
    margin: 0 auto 0 auto;
    padding: 0 0;
    align-items: center;
    .logo_container {
        display: flex;
        flex-direction: column;
    }
    .ant-col {
        padding: 0 2rem 0 0;
    }
    .header_account_container,
    .header_cart_container {
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
//formLogin and Rregister
.reLogForm_wrapper {
    min-width: 770px;
  
    .ant-form-item{
      margin-bottom: 0;
    }
  }
  .reLogForm_wrapper .ant-modal-body {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    overflow: hidden;
    border-radius: 20px;
  }
  .reLogForm_wrapper .ant-modal-body > * {
    min-height: 500px;
    height: 100%;
  }
  .reLogForm_wrapper .reLogForm{
   margin-right: 0;
  }
  .ant-modal-content{
    border-radius: 20px;
  }
  .reLogRight {
    height: 500px;
    width: 300px;
    background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .reLogForm{
    position: relative;
  }
  
  .prevBtn{
    position: absolute;
    top: -105px;
    left: 10px;
    font-size: 24px;
    color: #36324d;
  }
  .reLogForm #register{
    margin-top: 25px;
     .accept_txt{
      line-height: 12px;
     }
  }
  .reLogForm #register .ant-form-item {
    width: 100%;
    line-height: 30px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    text-align: left;
  
    .ant-form-item-explain-error{
      text-align: left;
    }
  }

.formSearch_container {
    .ant-input-group-addon {
        button.ant-btn.ant-input-search-button {
            background: rgb(13, 92, 182) !important;
            border-color: rgb(13, 92, 182);
        }
    }
    .searchSubmit {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;

        &:hover {
            background: #0973ec;
        }
    }
}
.footer_wrap_container {
    padding: 1rem;
    background: #fff;
}
.footer_container {
    width: 1270px;
    margin: 0 auto 2rem auto;
    p,
    a {
        color: #0973ec;
    }
}

.dropdown-searchbar {
    max-width: 815px;
    width: 100%;
    padding: 4px 10px 10px;

    h5 {
        margin-bottom: 15px;
    }
}

.main_content_container {
    width: 1270px;
    margin: 0 auto 2rem auto;

    //slick-slide
    .ant-carousel .slick-prev,
    .ant-carousel .slick-prev:hover,
    .ant-carousel .slick-prev:focus {
        font-size: 24px;
        left: 0;
        z-index: 2;
    }
    .ant-carousel .slick-prev,
    .ant-carousel .slick-next {
        width: 30px;
        height: 65px;
        color: rgb(158 148 148 / 70%);
        background: #fff;
        opacity: 0.8;

        display: flex !important;
        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;

        &:hover {
            background: rgb(158 148 148 / 70%);
            color: #fff;
            opacity: 1;
            transition: 0.2s ease-in-out;
        }
    }

    .ant-carousel .slick-prev {
        border-radius: 0 5px 5px 0;
    }
    .ant-carousel .slick-next {
        border-radius: 5px 0 0 5px;
    }

    .ant-carousel .slick-next,
    .ant-carousel .slick-next:hover,
    .ant-carousel .slick-next:focus {
        font-size: 24px;
        right: 0;
        z-index: 2;
    }
}
//Home Module
main.ant-layout-content {
    background-color: #f5f5fa;
    .sectionContainer {
        padding: 1rem 0;
        background: #efefef;
    }
}
.home_top_banner_container {
    .carousel-dots {
        margin-top: 0;
    }
}

.titleHeading {
    background-color: #fff;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 10px 0;

    .more-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.widgetContainer {
    margin-bottom: 10px;
}

.productContainer {
    background: #fff;
    padding: 1rem;
    .productItem {
        position: relative;
        overflow: hidden;
        .productItem-btn-group {
            background: #fff;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(35px);
            transition: transform linear 0.2s;
        }

        &:hover {
            .productItem-btn-group {
                transform: translateX(0);
                transition: transform linear 0.2s;
            }
        }

        p {
            margin: 0;
        }
        .ant-card-bordered .ant-card-cover {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .productItem.slider {
        margin: 15px;
    }
    .productSlider {
        margin: 20px 0 15px;
    }
}
.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
    content: "" !important;
}
.showBar {
    transform: translateX(0);
    transition: transform linear 0.2s;
}

.login_popup_container {
    .ant-modal-body {
        padding: 0;
    }
    .leftside {
        padding: 1rem;
    }

    .rightside {
        background: linear-gradient(136deg, rgb(240, 248, 255) -1%, rgb(219, 238, 255) 85%);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
        }
    }
}

//Customer Module
.customer_content_container {
    padding: 2rem;
    padding-bottom: 0px;

    .page_title {
        height: 50px;
    }
    .page_container {
        border-radius: 5px;
        background: #fff;
        min-height: 100vh;
        padding: 1rem;
    }

    .account_container {
        .page_container {
            .customer_avatar {
                position: relative;
            }
            .customer_avatar_upload_btn {
                bottom: 0;
                right: 0;
                position: absolute;
                button {
                    border-radius: 50%;
                }
            }
            #account_edit_form {
                .ant-form-item-label {
                    padding-left: 10px;
                    text-align: left;
                }
            }
        }
    }
}

.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: #e1ecf4;
}
.ant-back-top {
    img {
        transform: translateX(-50%);
        transform-style: preserve-3d;
        animation: animateRocket 1s linear alternate infinite;
    }
}
@keyframes animateRocket {
    to {
        transform: translateX(-50%) translateY(5px);
    }
}


//Notifications Module
.shop_page_header {
    z-index: 1;
    padding: 1rem;
    background: url("https://salt.tikicdn.com/ts/tmp/3a/0b/95/b070fdabf348d4b800aabc50bf778d2a.jpg");
    background-attachment: fixed;
    position: relative;
    background-size: cover;

    .shop_header_background_overlay {
        position: absolute;
        inset: 0px;
        background-color: #000;
        opacity: 0.5;
        pointer-events: none;
        z-index: -3;
    }
}
.shop_page_main {
    margin-top: 1rem;
    min-height: 80vh;
    padding: 1rem;
    background: #fff;

    border-radius: 3px;

    .shop_tab_container {
        .ant-pagination {
            padding: 1rem 0;
        }
        .productContainer {
            .productItem {
                position: relative;
                overflow: hidden;
                .ant-card-body {
                    padding: 10px;
                    .ant-card-meta-title {
                        font-size: 14px;
                    }
                }

                &:hover {
                    .productItem-btn-group {
                        transform: translateX(0);
                        transition: transform linear 0.2s;
                    }
                }
            }
        }
    }

    .leftSide {
        .ant-menu {
            border-right: none;
        }
    }
}

.productItem-btn-group {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(35px);
    transition: transform linear 0.2s;
}

//Orders Module
.products_by_category_container {
    .leftSide,
    .rightSide {
        background-color: #fff;
        h5 {
            padding: 1rem 0 0 1rem;
        }
    }
    .rightSide {
        background-color: #fff;
        .productContainer {
            ul.ant-pagination {
                padding: 1rem 0;
            }
        }
    }
}

.product_item_container {
    background-color: #fff;
    margin: 1rem 0;

    .product_image_container,
    .product_info_container {
        padding: 1rem;
    }
    .separate {
        margin: 0px 12px;
        width: 1px;
        background: rgb(242, 242, 242);
        flex-shrink: 0;
    }

    .product_info_container {
        .head {
            margin-bottom: 1rem;
        }

        .product_add {
            border-radius: 4px;
            background-color: rgb(250, 250, 250);
            padding: 1rem 16px 12px;
            .product_price__current-price {
                color: rgb(255, 66, 78);
                font-size: 32px;
                line-height: 40px;
                margin-right: 8px;
                font-weight: 500;
            }

            .product_price__list-price {
                color: rgb(128, 128, 137);
                text-decoration: line-through;
                font-size: 14px;
                line-height: 20px;
            }
            .product_price__discount-rate {
                font-weight: 500;
                margin-left: 4px;
                color: rgb(255, 66, 78);
                margin-top: 3px;
                line-height: 18px;
                font-size: 14px;
                padding: 0px 4px;
            }
            .product_quantity {
                margin: 1.7rem 0;
            }
        }

        .shop_info {
            border-radius: 4px;
            padding: 1rem;
            box-shadow: #f2f2f2 1px 1px 0px 0px inset, #f2f2f2 -1px -1px 0px 0px inset;
            .shop_rating,
            .shop_follow {
                text-align: center;
            }
            .btn-group {
                button {
                    border-radius: 4px;
                    color: #1890ff;
                    border: 1px solid #1890ff;

                    &:hover {
                        color: #fff;
                        background: #1890ff;
                    }
                }
            }
        }
    }

    .product_description_container {
        padding: 1rem;
        background-color: #fff;
    }

    .related_product_container {
        margin: 1rem 0;
        background-color: #fff;
        .section_title {
            padding: 1rem;
        }

        .related_product_slider {
            .carousel-track {
                .carousel-item {
                    padding: 1rem;
                }
            }
        }
    }

    h1.product_title {
        margin: 0px 0px 4px;
        color: #242424;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
    }
}

.ant-notification {
    padding: 5px 0;
    .ant-notification-notice-close {
        top: 10px;
        right: 10px;
    }
    .ant-notification-notice-btn {
        display: block;
        float: none;
        button {
            margin: 5px 0;
        }
    }
}


//Products Module
.product_detail_container {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
}
.product_description_container {
    background-color: #fff;
    padding: 20px;
    margin: 50px 0;
    .description_txt {
        font-size: 16px;
    }
}
.related_product_container {
    background-color: #fff;
    padding: 20px;
    margin: 50px 0;
}
.product_item_container {
    h1.product_title {
        margin: 0px 0px 4px;
        color: #242424;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
    }
}

.products_by_category_container {
    ul.ant-list-items > .ant-list-item {
        border-bottom: none !important;
    }
}

.rating-review li.ant-rate-star:not(:last-child) {
    margin-right: 2px;
}
.rating-num {
    font-size: 36px;
    font-weight: 500;
    color: #1890ff;
}

.rating-num span {
    display: flex;
    align-items: flex-end;
    font-size: 28px;
}

.review-block-item {
    margin-bottom: 12px;
    border-bottom: 1px solid #0505050f;
}

.content-review {
    padding-top: 0;
}

//Publishers Module

//Sellers Module
.shop_page_header {
    z-index: 1;
    padding: 1rem;
    background: url("https://salt.tikicdn.com/ts/tmp/3a/0b/95/b070fdabf348d4b800aabc50bf778d2a.jpg");
    background-attachment: fixed;
    position: relative;
    background-size: cover;

    .shop_header_background_overlay {
        position: absolute;
        inset: 0px;
        background-color: #000;
        opacity: 0.5;
        pointer-events: none;
        z-index: -3;
    }
}
.shop_page_main {
    margin-top: 1rem;
    min-height: 80vh;
    padding: 1rem;
    background: #fff;

    border-radius: 3px;

    .shop_tab_container {
        .ant-pagination {
            padding: 1rem 0;
        }
        .productContainer {
            .productItem {
                position: relative;
                overflow: hidden;
                &:hover {
                    .productItem-btn-group {
                        transform: translateX(0);
                        transition: transform linear 0.2s;
                    }
                }

                .ant-card-body {
                    padding: 10px;
                    .ant-card-meta-title {
                        font-size: 14px;
                    }
                }

                .productItem-btn-group {
                    background: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(35px);
                    transition: transform linear 0.2s;
                }
            }
        }
    }

    .leftSide {
        .ant-menu {
            border-right: none;
        }
    }
}

//Shipping Module

//Shop Module

//Users Module
.reports {
    color: "#000000";
}



//Payment Module
// .products_by_category_container {
//     .leftSide,
//     .rightSide {
//         background-color: #fff;
//         h5 {
//             padding: 1rem 0 0 1rem;
//         }
//     }
//     .rightSide {
//         background-color: #fff;
//         .product0Container {
//             .ant-space {
//             }
//             ul.ant-pagination {
//                 padding: 1rem 0;
//             }
//         }
//     }
// }

// .product_item_container {
//     background-color: #fff;
//     margin: 1rem 0;
//     padding: 0 10%;

//     .product_image_container,
//     .product_info_container {
//         padding: 1rem;
//     }
//     .separate {
//         margin: 0px 12px;
//         width: 1px;
//         background: rgb(242, 242, 242);
//         flex-shrink: 0;
//     }

//     .product_info_container {
//         .head {
//             margin-bottom: 1rem;
//         }

//         .product_add {
//             border-radius: 4px;
//             background-color: rgb(250, 250, 250);
//             padding: 1rem 16px 12px;
//             .product_price__current-price {
//                 color: rgb(255, 66, 78);
//                 font-size: 32px;
//                 line-height: 40px;
//                 margin-right: 8px;
//                 font-weight: 500;
//             }

//             .product_price__list-price {
//                 color: rgb(128, 128, 137);
//                 text-decoration: line-through;
//                 font-size: 14px;
//                 line-height: 20px;
//             }
//             .product_price__discount-rate {
//                 font-weight: 500;
//                 margin-left: 4px;
//                 color: rgb(255, 66, 78);
//                 margin-top: 3px;
//                 line-height: 18px;
//                 font-size: 14px;
//                 padding: 0px 4px;
//             }
//             .product_quantity {
//                 margin: 1.7rem 0;
//             }
//         }

//         .shop_info {
//             border-radius: 4px;
//             padding: 1rem;
//             box-shadow: #f2f2f2 1px 1px 0px 0px inset, #f2f2f2 -1px -1px 0px 0px inset;
//             .shop_rating,
//             .shop_follow {
//                 text-align: center;
//             }
//             .btn-group {
//                 button {
//                     border-radius: 4px;
//                     color: #1890ff;
//                     border: 1px solid #1890ff;

//                     &:hover {
//                         color: #fff;
//                         background: #1890ff;
//                     }
//                 }
//             }
//         }
//     }

//     .product_description_container {
//         padding: 1rem;
//         background-color: #fff;
//     }

//     .related_product_container {
//         margin: 1rem 0;
//         background-color: #fff;
//         .section_title {
//             padding: 1rem;
//         }

//         .related_product_slider {
//             .carousel-track {
//                 .carousel-item {
//                     padding: 1rem;
//                 }
//             }
//         }
//     }

//     h1.product_title {
//         margin: 0px 0px 4px;
//         color: #242424;
//         font-size: 24px;
//         font-weight: 300;
//         line-height: 32px;
//         word-break: break-word;
//     }
// }

// .ant-notification {
//     padding: 5px 0;
//     .ant-notification-notice-close {
//         top: 10px;
//         right: 10px;
//     }
//     .ant-notification-notice-message {
//     }
//     .ant-notification-notice-btn {
//         display: block;
//         float: none;
//         button {
//             margin: 5px 0;
//         }
//     }
// }

//Products Module
.product_detail_container {
    width: 100%;
    padding: 1rem;
    background-color: #fff;
}
.product_description_container {
    background-color: #fff;
    padding: 20px;
    margin: 50px 0;
    .description_txt {
        font-size: 16px;
    }
}
.related_product_container {
    background-color: #fff;
    padding: 20px;
    margin: 50px 0;
}
.product_item_container {
    h1.product_title {
        margin: 0px 0px 4px;
        color: rgb(36, 36, 36);
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
        word-break: break-word;
    }
}

.products_by_category_container {
    ul.ant-list-items > .ant-list-item {
        border-bottom: none !important;
    }
}

.rating-review li.ant-rate-star:not(:last-child) {
    margin-right: 2px;
}
.rating-num {
    font-size: 36px;
    font-weight: 500;
    color: #1890ff;
}

.rating-num span {
    display: flex;
    align-items: flex-end;
    font-size: 28px;
}


.review-block-item {
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.review-block-item .ant-list-item{
    border-bottom: none;
}

.content-review {
    padding-top: 0;
}

//Publishers Module

//Sellers Module
.shop_page_header {
    z-index: 1;
    padding: 1rem;
    background: url("https://salt.tikicdn.com/ts/tmp/3a/0b/95/b070fdabf348d4b800aabc50bf778d2a.jpg");
    background-attachment: fixed;
    position: relative;
    background-size: cover;

    .shop_header_background_overlay {
        position: absolute;
        inset: 0px;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        pointer-events: none;
        z-index: -3;
    }
}
.shop_page_main {
    margin-top: 1rem;
    min-height: 80vh;
    padding: 1rem;
    background: #fff;

    border-radius: 3px;

    .shop_tab_container {
        .ant-pagination {
            padding: 1rem 0;
        }
        .productContainer {
            .productItem {
                position: relative;
                overflow: hidden;
                &:hover {
                    .productItem-btn-group {
                        transform: translateX(0);
                        transition: transform linear 0.2s;
                    }
                }

                .ant-card-body {
                    padding: 10px;
                    .ant-card-meta-title {
                        font-size: 14px;
                    }
                }

                .productItem-btn-group {
                    background: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(35px);
                    transition: transform linear 0.2s;
                }
            }
        }
    }

    .leftSide {
        .ant-menu {
            border-right: none;
        }
    }
}

//Shipping Module

//Shop Module

//Users Module
.reports {
    color: "#000000";
}

//seller register
.register_seller_container{
    min-height: 100vh;

    h2{
        padding: 2rem 0 0;
    }
    
    .rightRegister{
        padding: 2.5rem 10%;
        background-color: #F5F5FA;
    }
    
    .leftRegister{
        padding: 1rem 10%;
        background-color: #fff;
    }
}

.information_footer{
    padding: 2rem 10%;
    background: #fff;
}