@import "~antd/dist/antd.css";

// #sidebar_backend .logo {
//     padding: 16px;
//     color: #d81c80;
//     text-align: center;
//     font-size: 1.5rem;
//     font-weight: 600;
//     border-bottom: 1px solid #aaa;
//     transition: all 0.2s;
// }

.main_header_container {
    background: rgb(26, 148, 255);
    padding: 16px;
}
.header_container {
    width: 1270px;
    margin: 0 auto 0 auto;
    padding: 0 0;
    align-items: center;
    .logo_container {
        display: flex;
        flex-direction: column;
    }
    .ant-col {
        padding: 0 2rem;
    }
    .formSearch_container {
        .ant-input-group-addon {
            button.ant-btn.ant-input-search-button {
                background: rgb(13, 92, 182) !important;
                border-color: rgb(13, 92, 182);
            }
        }
    }
    .header_account_container,
    .header_cart_container {
        display: flex;
    }
}
footer.footer_wrap_container {
    padding: 1rem;
    background: #fff;
    .footer_container{
        width: 1270px;
        margin: 0 auto 2rem auto;
    }
}

.main_content_container{
    width: 1270px;
    margin: 0 auto 2rem auto;
}
